body {
	background-image: url("rsz_halfCloud.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;
}

#red {
	background-color: rgba(255, 179, 0, 0.384);
	width: 250px;
	height: 250px;
	cursor: pointer;
	border-radius: 50%;
}


#container1 {
	background-color: rgba(255, 0, 170, 0.149);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 250px;
	border-bottom: 3px dotted dodgerblue;
	border-radius: 50px 50px 25px 25px;
}

#container2 {
	background-color: rgba(38, 0, 255, 0.132);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 250px;
	border-top: 3px dotted pink;
	border-radius: 25px 25px 50px 50px;
}